doctype html
html
	head
		title Recipes
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/lib/styles.css')
		link(rel="icon", href="")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		//- Scripts
		script(src='./js/dist/bundle.js')