include ./header

body
	div.container
		div.row.margin-bottom-30
			div.col-100
				h1.main-header Recipe Tracker

		div.row.margin-bottom-15
			div.col-100-60
				h2.sub-header Selected Recipes

			div.col-100-40
				h2.sub-header Ingredient List

		div.row
			div.col-100-60
				div#recipe-table-region

			div.col-100-40
				div#ingredient-list-region