div.table-row.header-row
	div.table-col-100 Ingredient name

div.table-row
	if typeof ingredients === 'undefined' || ingredients.length === 0
		div.margin-top-5 No recipes selected
	
	else
		ul.ingredients
			each val in ingredients
				li #{val}




