div.table-row.body-row
	div.table-col-5.table-cell
		input.select-item(type="checkbox")
	div.table-col-20.table-cell #{name}
	div.table-col-25.table-cell #{type}
	div.table-col-25.table-cell #{cookTime}
	div.table-col-25.table-cell #{ingredients}
