select.ingredient-select
	option(value="all") All ingredients
	each val in allIngredients
		option(value=val) #{val}

div.table-row.header-row
	div.table-col-5
	div.table-col-20 Name
	div.table-col-25 Type
	div.table-col-25 Cook time
	div.table-col-25 Ingredients
