// CORE ELEMENT STYLES -------------------------------

*, *:before, *:after
	box-sizing: border-box
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	
body
	font-family: $main-font
	font-weight: $base-font-weight
	font-size: $base-font-size
	margin: 0

// Resets
h1,
h2,
h3,
h4,
h5,
h6
	margin: 0
	font-weight: normal

ul, ol
	margin: 0
	padding-left: 0

li
	list-style: none

a
	outline: none
	text-decoration: none

p
	margin: 0

button
	appearance: none
	background-color: transparent
	border: none
	box-shadow: none
	cursor: pointer
	outline: none
	
input
	outline: none
	border: 1px solid $black
	background-color: transparent

textarea
	outline: none
	border: 1px solid $black
	background-color: transparent
	
