// COMPONENTS ------------------------------- //

.main-header
	font-size: 30px
	font-weight: $bold
	text-align: center
	padding-bottom: 10px
	border-bottom: $grey 1px solid
	margin-top: 50px
	
.sub-header
	font-size: 22px
	font-weight: $lite

.header-row
	font-weight: $bold
	padding-bottom: 5px
	border-bottom: 1px solid $grey