// COMPONENTS ------------------------------- //

.main-header
	font-size: 30px
	font-weight: $bold-font-weight
	text-align: center
	padding-bottom: 10px
	border-bottom: $grey 1px solid
	margin-top: 50px
	
.sub-header
	font-size: 22px
	font-weight: $lite-font-weight
