// COMPONENTS ------------------------------- //

.main-header
	font-size: 30px
	font-weight: $bold
	text-align: center
	padding-bottom: 10px
	border-bottom: $grey 1px solid
	margin-top: 50px
	
.sub-header
	font-size: 22px
	font-weight: $lite

.header-row
	font-weight: $bold
	padding-bottom: 5px
	border-bottom: 1px solid $grey
	
.ingredient-select
	position: absolute
	top: 133px
	left: 250px
	
.body-row
	height: 100px
	border-bottom: 1px solid $light-grey

.table-cell
	verticalCenter()
	
.ingredients
	margin-left: 5px
	margin-top: 5px
	
	& li
		margin-bottom: 5px