// LAYOUT ------------------------------- //

// Grid
.container
	createContainer($primary-padding, 1920px, 100%)
	
.row
	createRow($primary-padding)
	
.table-row
	createRow(5px)
	
.table-col-100
	createColumn(5px, 100%)

.table-col-5
	createColumn(5px, 5%)

.table-col-20
	createColumn(5px, 20%)

.table-col-25
	createColumn(5px, 25%)

.col-100
	createColumn($primary-padding, 100%)
	
.col-100-60
	createColumn($primary-padding, 100%, 100%, 60%)

.col-100-40
	createColumn($primary-padding, 100%, 100%, 40%)

// Margins
.margin-top-50
	margin-top: 50px

.margin-bottom-30
	margin-bottom: 30px
	
.margin-bottom-15
	margin-bottom: 15px

// Positioning
.inline-center
	text-align: center
	