// VARIABLES ------------------------------- //

// TYPOGRAPHY -------------------------------
// Helvetica Neue not available on Windows systems; Helvetica will be replaced with Arial.  Roboto listed as the second font to prevent the Arial substition following the unavailability of Helvetica Neue.
$main-font = "Helvetica Neue", 'Roboto', Helvetica, Arial, sans-serif
$base-font-size = 14px
$base-font-weight = 400
$bold = 700
$lite = 200

// MEDIA QUERIES -------------------------------
// Minimums
$screen-sm-min = '(min-width:' + 481 + 'px)' 
$screen-md-min = '(min-width:' + 769 + 'px)' 
$screen-lg-min = '(min-width:' + 1025 + 'px)'
$screen-xl-min = '(min-width:' + 1281 + 'px)'
$screen-xxl-min = '(min-width:' + 2200 + 'px)'

// GRID -------------------------------
$primary-padding = 15px

// COLORS -------------------------------
$white = rgba(255,255,255,1)
$black = rgba(0,0,0,1)
$grey = rgba(99,99,99,1)
$light-grey = rgba(216,216,216,1)